.stl_ sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
.stl_ sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
.stl_ a:link {text-decoration:none;}
.stl_ a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.stl_layer { }.stl_ie { font-size: 1pt; }
.stl_ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 49.58333em;
	height: 70.08334em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 49.58333em;
}
.stl_06 {
	height: 7.008333em;
}
.stl_ie .stl_06 {
	height: 70.08334em;
}
@font-face {
	font-family:"SROITD+SimSun";
	src:url("../fonts/11a0ad19-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.75em;
	font-family: "SROITD+SimSun", "Times New Roman";
	color: #000000;
}
.stl_08 {
	line-height: 1em;
}
.stl_09 {
	letter-spacing: 0em;
}

.stl_ie .stl_09 {
	letter-spacing: 0px;
}
.stl_10 {
	font-size: 1em;
	font-family: "SROITD+SimSun", "Times New Roman";
	color: #000000;
}
.stl_11 {
	letter-spacing: -0.18em;
}

.stl_ie .stl_11 {
	letter-spacing: -2.88px;
}
.stl_12 {
	letter-spacing: -0.17em;
}

.stl_ie .stl_12 {
	letter-spacing: -2.72px;
}
.stl_13 {
	letter-spacing: 0.002em;
}

.stl_ie .stl_13 {
	letter-spacing: 0.032px;
}
.stl_14 {
	letter-spacing: 0.0011em;
}

.stl_ie .stl_14 {
	letter-spacing: 0.0178px;
}
.stl_15 {
	letter-spacing: -0.1em;
}

.stl_ie .stl_15 {
	letter-spacing: -1.6px;
}
.stl_16 {
	letter-spacing: -0.1101em;
}

.stl_ie .stl_16 {
	letter-spacing: -1.7614px;
}
@font-face {
	font-family:"IWOOGT+TimesNewRomanPSMT";
	src:url("../fonts/db2f8f14-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_17 {
	font-size: 1.079167em;
	font-family: "IWOOGT+TimesNewRomanPSMT", "Times New Roman";
	color: #000000;
}
.stl_18 {
	line-height: 1.107422em;
}
.stl_19 {
	letter-spacing: 0.0003em;
}

.stl_ie .stl_19 {
	letter-spacing: 0.005px;
}
@font-face {
	font-family:"BOMCDA+SimHei";
	src:url("../fonts/bd3a5529-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_20 {
	font-size: 1.079167em;
	font-family: "BOMCDA+SimHei", "Times New Roman";
	color: #000000;
}
.stl_21 {
	letter-spacing: 0.0028em;
}

.stl_ie .stl_21 {
	letter-spacing: 0.0484px;
}
.stl_22 {
	letter-spacing: 0.0222em;
}

.stl_ie .stl_22 {
	letter-spacing: 0.3552px;
}
.stl_23 {
	letter-spacing: -0.0054em;
}

.stl_ie .stl_23 {
	letter-spacing: -0.0865px;
}
.stl_24 {
	letter-spacing: 0.0005em;
}

.stl_ie .stl_24 {
	letter-spacing: 0.0073px;
}
.stl_25 {
	letter-spacing: -0.2101em;
}

.stl_ie .stl_25 {
	letter-spacing: -3.3613px;
}
.stl_26 {
	letter-spacing: 0.0009em;
}

.stl_ie .stl_26 {
	letter-spacing: 0.0147px;
}
.stl_27 {
	letter-spacing: 0.0004em;
}

.stl_ie .stl_27 {
	letter-spacing: 0.0065px;
}
.stl_28 {
	letter-spacing: -0.0057em;
}

.stl_ie .stl_28 {
	letter-spacing: -0.0908px;
}
.stl_29 {
	font-size: 0.870833em;
	font-family: "IWOOGT+TimesNewRomanPSMT", "Times New Roman";
	color: #000000;
}
.stl_30 {
	letter-spacing: 0.0052em;
}

.stl_ie .stl_30 {
	letter-spacing: 0.073px;
}
@font-face {
	font-family:"MingLiU";
	src:url("../fonts/e03ffdde-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_31 {
	font-size: 0.833333em;
	font-family: "MingLiU";
	color: rgba(0, 0, 0, 0.8);
}
