.stl_ sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
.stl_ sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
.stl_ a:link {text-decoration:none;}
.stl_ a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.stl_layer { }.stl_ie { font-size: 1pt; }
.stl_ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 49.58333em;
	height: 70.08334em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
	width: 49.58333em;
}
.stl_04 {
	height: 7.008333em;
}
.stl_ie .stl_04 {
	height: 70.08334em;
}
@font-face {
	font-family:"KNAHID+TimesNewRomanPSMT";
	src:url("../fonts/7565d4bd-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_05 {
	font-size: 1.329167em;
	font-family: "KNAHID+TimesNewRomanPSMT", "Times New Roman";
	color: #000000;
}
.stl_06 {
	line-height: 1.107422em;
}
.stl_07 {
	letter-spacing: -0.0133em;
}

.stl_ie .stl_07 {
	letter-spacing: -0.2824px;
}
.stl_08 {
	font-size: 1em;
	font-family: "KNAHID+TimesNewRomanPSMT", "Times New Roman";
	color: #000000;
}
.stl_09 {
	letter-spacing: -0.0014em;
}

.stl_ie .stl_09 {
	letter-spacing: -0.0219px;
}
.stl_10 {
	letter-spacing: -0.0005em;
}

.stl_ie .stl_10 {
	letter-spacing: -0.0075px;
}
.stl_11 {
	letter-spacing: -0.001em;
}

.stl_ie .stl_11 {
	letter-spacing: -0.0162px;
}
.stl_12 {
	letter-spacing: -0.0011em;
}

.stl_ie .stl_12 {
	letter-spacing: -0.0179px;
}
.stl_13 {
	letter-spacing: -0.0007em;
}

.stl_ie .stl_13 {
	letter-spacing: -0.0113px;
}
.stl_14 {
	letter-spacing: -0.0008em;
}

.stl_ie .stl_14 {
	letter-spacing: -0.0125px;
}
.stl_15 {
	letter-spacing: -0.0012em;
}

.stl_ie .stl_15 {
	letter-spacing: -0.0192px;
}
.stl_16 {
	letter-spacing: -0.0006em;
}

.stl_ie .stl_16 {
	letter-spacing: -0.0095px;
}
.stl_17 {
	letter-spacing: -0.0013em;
}

.stl_ie .stl_17 {
	letter-spacing: -0.0212px;
}
.stl_18 {
	letter-spacing: -0.0003em;
}

.stl_ie .stl_18 {
	letter-spacing: -0.0041px;
}
.stl_19 {
	letter-spacing: -0.0019em;
}

.stl_ie .stl_19 {
	letter-spacing: -0.0302px;
}
.stl_20 {
	letter-spacing: -0.0002em;
}

.stl_ie .stl_20 {
	letter-spacing: -0.003px;
}
.stl_21 {
	letter-spacing: -0.0016em;
}

.stl_ie .stl_21 {
	letter-spacing: -0.0252px;
}
.stl_22 {
	letter-spacing: -0.0015em;
}

.stl_ie .stl_22 {
	letter-spacing: -0.0244px;
}
.stl_23 {
	letter-spacing: -0.0001em;
}

.stl_ie .stl_23 {
	letter-spacing: -0.0018px;
}
.stl_24 {
	font-size: 0.870833em;
	font-family: "KNAHID+TimesNewRomanPSMT", "Times New Roman";
	color: #000000;
}
.stl_25 {
	letter-spacing: 0em;
}

.stl_ie .stl_25 {
	letter-spacing: -0.0003px;
}
@font-face {
	font-family:"MingLiU";
	src:url("../fonts/e03ffdde-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_26 {
	font-size: 0.833333em;
	font-family: "MingLiU";
	color: rgba(0, 0, 0, 0.8);
}
.stl_27 {
	line-height: 1em;
}
