.stl_ sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
.stl_ sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
.stl_ a:link {text-decoration:none;}
.stl_ a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.stl_layer { }.stl_ie { font-size: 1pt; }
.stl_ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 49.58333em;
	height: 70.08334em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
	width: 49.58333em;
}
.stl_04 {
	height: 7.008333em;
}
.stl_ie .stl_04 {
	height: 70.08334em;
}
@font-face {
	font-family:"IBSHPT+SimHei";
	src:url("../fonts/3b4cf890-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_05 {
	font-size: 1.329167em;
	font-family: "IBSHPT+SimHei", "Times New Roman";
	color: #000000;
}
.stl_06 {
	line-height: 1em;
}
.stl_07 {
	letter-spacing: 0.0006em;
}

.stl_ie .stl_07 {
	letter-spacing: 0.0125px;
}
@font-face {
	font-family:"LIDTWP+SimSun";
	src:url("../fonts/5aca5066-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_08 {
	font-size: 1em;
	font-family: "LIDTWP+SimSun", "Times New Roman";
	color: #000000;
}
.stl_09 {
	letter-spacing: -0.0057em;
}

.stl_ie .stl_09 {
	letter-spacing: -0.0914px;
}
.stl_10 {
	letter-spacing: -0.0054em;
}

.stl_ie .stl_10 {
	letter-spacing: -0.0865px;
}
.stl_11 {
	letter-spacing: 0.0156em;
}

.stl_ie .stl_11 {
	letter-spacing: 0.249px;
}
@font-face {
	font-family:"BDQIWJ+TimesNewRomanPSMT";
	src:url("../fonts/8a0e60d8-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_12 {
	font-size: 1em;
	font-family: "BDQIWJ+TimesNewRomanPSMT", "Times New Roman";
	color: #000000;
}
.stl_13 {
	line-height: 1.107422em;
}
.stl_14 {
	letter-spacing: 0em;
}

.stl_ie .stl_14 {
	letter-spacing: 0px;
}
.stl_15 {
	letter-spacing: 0.0086em;
}

.stl_ie .stl_15 {
	letter-spacing: 0.1374px;
}
.stl_16 {
	letter-spacing: 0.0075em;
}

.stl_ie .stl_16 {
	letter-spacing: 0.1195px;
}
.stl_17 {
	letter-spacing: 0.0017em;
}

.stl_ie .stl_17 {
	letter-spacing: 0.0267px;
}
.stl_18 {
	letter-spacing: 0.0012em;
}

.stl_ie .stl_18 {
	letter-spacing: 0.0191px;
}
.stl_19 {
	letter-spacing: 0.0133em;
}

.stl_ie .stl_19 {
	letter-spacing: 0.2129px;
}
.stl_20 {
	letter-spacing: -0.0042em;
}

.stl_ie .stl_20 {
	letter-spacing: -0.0667px;
}
.stl_21 {
	letter-spacing: 0.0132em;
}

.stl_ie .stl_21 {
	letter-spacing: 0.2104px;
}
.stl_22 {
	letter-spacing: -0.1601em;
}

.stl_ie .stl_22 {
	letter-spacing: -2.5613px;
}
.stl_23 {
	letter-spacing: 0.0008em;
}

.stl_ie .stl_23 {
	letter-spacing: 0.0123px;
}
.stl_24 {
	letter-spacing: -0.16em;
}

.stl_ie .stl_24 {
	letter-spacing: -2.56px;
}
.stl_25 {
	letter-spacing: -0.1101em;
}

.stl_ie .stl_25 {
	letter-spacing: -1.7613px;
}
.stl_26 {
	letter-spacing: 0.0005em;
}

.stl_ie .stl_26 {
	letter-spacing: 0.0085px;
}
.stl_27 {
	letter-spacing: -0.15em;
}

.stl_ie .stl_27 {
	letter-spacing: -2.4px;
}
.stl_28 {
	letter-spacing: 0.0004em;
}

.stl_ie .stl_28 {
	letter-spacing: 0.0064px;
}
.stl_29 {
	letter-spacing: 0.0222em;
}

.stl_ie .stl_29 {
	letter-spacing: 0.3552px;
}
.stl_30 {
	letter-spacing: 0.005em;
}

.stl_ie .stl_30 {
	letter-spacing: 0.08px;
}
.stl_31 {
	letter-spacing: -0.5em;
}

.stl_ie .stl_31 {
	letter-spacing: -8px;
}
.stl_32 {
	letter-spacing: 0.01em;
}

.stl_ie .stl_32 {
	letter-spacing: 0.1594px;
}
.stl_33 {
	letter-spacing: 0.0054em;
}

.stl_ie .stl_33 {
	letter-spacing: 0.0858px;
}
.stl_34 {
	letter-spacing: -0.0004em;
}

.stl_ie .stl_34 {
	letter-spacing: -0.0071px;
}
.stl_35 {
	font-size: 1em;
	font-family: "IBSHPT+SimHei", "Times New Roman";
	color: #000000;
}
.stl_36 {
	font-size: 0.870833em;
	font-family: "BDQIWJ+TimesNewRomanPSMT", "Times New Roman";
	color: #000000;
}
@font-face {
	font-family:"MingLiU";
	src:url("../fonts/e03ffdde-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_37 {
	font-size: 0.833333em;
	font-family: "MingLiU";
	color: rgba(0, 0, 0, 0.8);
}
